.popup{
    background-color: var(--dark-purple);
    opacity: 0.9;
    width: 75vw;
    height: fit-content;
    
    display: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 4;
    
    text-align: center;
}

.popupClose{
    color: var(--lavender);
    width: 30px;
    height: 30px;
    float: right;
    padding: 2px;
}

.popupText{
    padding: 1rem;
    color: var(--lavender);
    font-size: 30px;
}