body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lavender: #EFDDF5;
  --lavender_opacity: rgb(239, 221, 245, 0.5);
  --purple: #9800C5;
  --dark-purple: #540E55;

  --correct: #47FF70;
  --wrong: #FF5D47;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
